<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
        <!-- <img src="C:\Users\Admin\Desktop\picture.jpg" alt="angular logo" height="42" width="42">
         <a class="navbar-brand">Angular Router</a> -->
    </div> -->
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a routerLink="home">Home</a></li>
            <li class="nav-item"><a routerLink="about">About</a></li>
            <li class="nav-item"><a routerLink="courses">Courses</a></li>
        </ul>
    </div>
</nav>




<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a routerLink="tab1">Tab 1</a></li>
        <li><a routerLink="tab2">Tab 2</a></li>
        <li><a routerLink="tab3">Tab 3</a></li>
      </ul>
    </div>
  </nav> -->